In [1]:
#!pip install pandas
#!pip install zipfile
#!pip install kaggle
#!pip install openpyxl

# pandas library 
import pandas as pd

# import zipfile library for extracting data from kaggle
import zipfile

# import kaggle library for extracting data from kaggle
import kaggle

# import numpy for getting column statistics
import numpy as np

# import re for cleaning the date data
import re

In [2]:
# downloading imdb dataset from Kaggle
!kaggle datasets download -d danielgrijalvas/movies

Dataset URL: https://www.kaggle.com/datasets/danielgrijalvas/movies
License(s): CC0-1.0
movies.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
# extract the csv from downloaded zipfile

movies_zipfile = 'movies.zip'
with zipfile.ZipFile(movies_zipfile,'r') as file:
    file.extractall()

In [4]:
# read in extracted csv into pandas dataframe

movie_database = pd.read_csv("movies.csv")

In [5]:
# check dataframe shape

movie_database.shape

(7668, 15)

In [6]:
# checking the top 5 entries of the dataframe 

movie_database.head(5)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [7]:
# get the info for the movie dataframe

movie_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [8]:
# check for missing data
for col in movie_database.columns:
    missing_info = np.mean(movie_database[col].isnull())
    print(col,": ", round(missing_info*100,2),"%")

name :  0.0 %
rating :  1.0 %
genre :  0.0 %
year :  0.0 %
released :  0.03 %
score :  0.04 %
votes :  0.04 %
director :  0.0 %
writer :  0.04 %
star :  0.01 %
country :  0.04 %
budget :  28.31 %
gross :  2.46 %
company :  0.22 %
runtime :  0.05 %

In [9]:
# clean budget using median value

movie_database["budget"].fillna(movie_database["budget"].median(), inplace=True)

C:\Users\holyl\AppData\Local\Temp\ipykernel_30092\3373663078.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_database["budget"].fillna(movie_database["budget"].median(), inplace=True)

In [10]:
# clean gross by dropping missing values

movie_database.dropna(how="all", subset="gross", inplace=True)

In [11]:
# clean runtime by dropping missing values

movie_database.dropna(how="all", subset="runtime", inplace=True)

In [12]:
# clean runtime by dropping missing values

movie_database.dropna(how="all", subset="runtime", inplace=True)

In [13]:
# clean writer by dropping missing values

movie_database.dropna(how="all", subset="writer", inplace=True)

In [14]:
# clean country by dropping missing values

movie_database.dropna(how="all", subset="country", inplace=True)

In [15]:
# clean coompany by dropping missing values

movie_database.dropna(how="all", subset="company", inplace=True)

In [16]:
# cleaning rating using the most frequent value that appears (mode) 
movie_database["rating"].fillna(movie_database["rating"].mode()[0], inplace=True)

C:\Users\holyl\AppData\Local\Temp\ipykernel_30092\4058699462.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_database["rating"].fillna(movie_database["rating"].mode()[0], inplace=True)

In [17]:
# check for missing data from cleaned data frame

for col in movie_database.columns:
    missing_info = np.mean(movie_database[col].isnull())
    print(col,": ", round(missing_info*100,2),"%")

name :  0.0 %
rating :  0.0 %
genre :  0.0 %
year :  0.0 %
released :  0.0 %
score :  0.0 %
votes :  0.0 %
director :  0.0 %
writer :  0.0 %
star :  0.0 %
country :  0.0 %
budget :  0.0 %
gross :  0.0 %
company :  0.0 %
runtime :  0.0 %

In [18]:
# dictionary for the months we will use

month_dict = {"January":"01","February":"02","March":"03","April":"04","May":"05","June":"06","July":"07","August":"08","September":"09","October":"10","November":"11","December":"12"}

In [19]:
# creating our to_insert array to add a release date column

to_insert = []
for index, row in movie_database.iterrows():
    toclean = row["released"]
    toclean_arr = toclean.split("(")
    clean = re.sub("[,]","",toclean_arr[0])
    clean_arr = clean.split()
    
    # drop the dates that are not valid e.x. November 1980 or 10 April 
    # proper dates (e.x. 2 September 1998) are added to the to_insert array to be added later
    if len(clean_arr) < 3:
        movie_database.drop(index, inplace=True)
    else:
        if len(clean_arr[1]) == 1:
            clean_arr[1] = "0" + clean_arr[1]
        to_insert.append(clean_arr[2] + "-" + month_dict[clean_arr[0]] + "-" + clean_arr[1] + " 00:00:00")

In [20]:
# adding the release data array to our dataframe 

movie_database.insert(4,"release_date",to_insert,True)

In [21]:
# checking the top 5 entries of the dataframe 

movie_database.head(5)

,name,rating,genre,year,release_date,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,1980-06-13 00:00:00,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,1980-07-02 00:00:00,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,1980-06-20 00:00:00,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,1980-07-02 00:00:00,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,1980-07-25 00:00:00,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [22]:
# check for missing data from cleaned data frame

for col in movie_database.columns:
    missing_info = np.mean(movie_database[col].isnull())
    print(col,": ", round(missing_info*100,2),"%")

name :  0.0 %
rating :  0.0 %
genre :  0.0 %
year :  0.0 %
release_date :  0.0 %
released :  0.0 %
score :  0.0 %
votes :  0.0 %
director :  0.0 %
writer :  0.0 %
star :  0.0 %
country :  0.0 %
budget :  0.0 %
gross :  0.0 %
company :  0.0 %
runtime :  0.0 %

In [24]:
# writng dataframe into excel file for Tableau

movie_database.to_excel('movies.xlsx', sheet_name='Data')

In [23]:
movie_database.shape

(7416, 16)